*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    width: 70%;
    margin: auto;
}
@media screen and (max-width: 767px){
    .container{
        width: 90%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1606px){
    .container{
        width: 90%;
    }
}
.clearfix{
    clear: both;
}
/* Start Home */
.home{
    height: 100vh;
    background-image: url(../img/slider/slider-01.jpg);
    background-position: center center;
    background-size: cover;
}
.home .layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.logo a{
    display: block;
    text-decoration: none;
    width: 20%;
    color: #ff305b;
    float: left;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0;
    letter-spacing: 00.5px;
}
.nav-bar .pages{
    width: 50%;
    float: right;
    position: relative;
}
.nav-bar .pages ul{
    list-style-type: none;
    float: right;
}
.pages ul li{
    float: left;
    padding: 20px 10px;
    color: #fff;
    letter-spacing: 0.5px;
}
ul li.active{
    color: #ff305b;
}
ul li:hover{
    color: #ff305b;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav-bar .pages{
        display: none;
    }
}
@media screen and (min-width: 768px)  and (max-width: 1190px) {
    .nav-bar .pages{
        width: 70%;
    }
    .pages ul li{
        padding: 20px 10px 20px 0px;
        letter-spacing: 0px;
    }
}
.list-icone{
    color: #fff;
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0;
}
@media screen and (max-width: 767px){
    .list-icone{ 
        opacity: 1;
        font-size: 30px;
    }
}
.home-content{
    text-align: center;
    margin-top: 320px;
}

.home-content p{
    color: #fff;
    margin: 20px 0px;
    font-size: 24px;
    letter-spacing: 0.5px;
}
.home-content h1{
    color: #ff305b;
    font-size: 60PX;
    font-weight: bold;
}
@media screen and (max-width: 599px){
    .home-content{ 
        margin-top: 50px;
    }
    .home-content p{
        font-size: 16px;
    }
    .home-content h1{
        font-size: 30PX;
    }
}
@media screen and (max-width: 768px) and (max-width:992px){
    .home-content p{
        font-size: 24px;
    }
    .home-content h1{
        font-size: 40PX;
    }
}
/* End Home */

/* Start Profile */
.profile{
    padding: 60PX 50PX;
}
.profile-box{
    width: 35%;
    float: left;
    border: 7PX solid #333;
    border-radius: 4PX;
}
.profile-photo{
    position: relative;
    transform: translateX(25px) translateY(25px);
}
.profile-photo img{
    width: 100%;
    border-radius: 5px;
}
.profile-photo::after{
    content: '';
    background: rgba(0, 0, 0, 0.57);
    border-radius: 5px;
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}
ul.prof-icon{
    list-style-type: none;
    position: absolute;
    bottom: 0;
    left: 25%;
    transform: translateY(30%);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 333;
}
@media screen and (max-width: 599px){
    ul.prof-icon{
        transform: translate(15%,20px);
    }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
    ul.prof-icon{
        transform: translate(70px, 30px);
    }
}
.prof-icon li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.profile-photo:hover::after{
    opacity: 1;
    height: 100%;
}
.profile-photo:hover .prof-icon{
    opacity: 1;
    transform: translate(25%, -500%);
}
@media screen and (max-width: 599px){
    .profile-photo:hover .prof-icon{
        transform: translate(15%, -200px);
    }
}
@media screen and (min-width: 600px) and (max-width: 767px) {
    .profile-photo:hover .prof-icon{
        transform: translate(70px, -350px);
    }
}
@media screen and (min-width: 768px) {
    .profile-photo:hover .prof-icon{
        transform: translateY(-500%);
    }
}
.prof-icon li:hover{
    color: #ff305b;
}
.profile-desc{
    background-color: #fff;
    width: 65%;
    float: left;
    padding-left: 60px;
}
.profile-desc h2{
    font-size: 30px;
    color: #333;
    position: relative;
    left: 15px;
    margin-bottom: 25px;
} 
.profile-desc h2::before{
    content: '';
    background-color: #ff305b;
    width: 5px;
    height: 22px;
    position: absolute;
    top: 5px;
    left: -15px;
}
.profile-desc p{
    line-height: 1.6;
    color: #555;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #999;
}
.profile-about ul{
    list-style-type: none ;
}
.profile-about li{
    width: 40%;
    float: left;
    margin-bottom: 20px;
    color: #555;
}
.profile-about li span{
    color: #333;
    font-weight: bold;
}
.profile-about button{
    padding: 10px 25px;
    background-color: #ff305b;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-right: 20px;
    font-size: 16px;
}
.profile-about button i{
    padding-left: 10px;
}
.profile-about button:hover{
    background-color: #f80636;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .profile{
        padding: 50PX 0PX;
    }
    .profile-box {
        width: 100%;
        border: none;
    }
    .profile-photo{
        transform: none;
    }
    .profile-desc{
        width: 100%;
        padding-left: 0;
    }
    .profile-desc h2{
        margin: 30px 0px;
        left: 15px;
    } 
    .profile-desc h2::before{
        left: -15px;
    }
    .profile-about li{
        width: 100%;
    }
    .profile-about button{
        padding: 10px;
        margin-right: 5px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .profile{
        padding: 60PX 0PX;
    }
    .profile-box{
        width: 50%;
        border: none;
    }
    .profile-desc{
        width: 50%;
        padding-left: 5px;
    }
    .profile-photo{
        transform: none;
    }
    .profile-photo img{
        width: 95%;
    }
    .profile-about li{
        width: 50%;
        margin-bottom: 10px;
        font-size: 13px;
    }
    .profile-about button{
        padding: 10px;
        margin-right: 5px;
    }
}
/* ŸèEnd Profile */

/* Start Our Services */
.our-services{
    background-color: #f1f1f1;
    padding: 70px 0px;
}
@media screen and (max-width: 767px){
    .our-services{
        padding: 70px 50px 0px;
    }
}
/* Start Header Style */
.header{
    text-align: center;
    color: #333;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
    position: relative;
    letter-spacing: 0.5px;
}
.header::before{
    content: '';
    width: 100px;
    height: 1px;
    position: absolute;
    top: 150%;
    left: 46%;
    border-top: 1px double #ff305b;
    border-bottom: 1px solid #ff305b;
    padding: 5px;
}
.header::after{
    content: '';
    background-color: #ff305b;
    width: 200px;
    height: 1px;
    position: absolute;
    top: 165%;
    left: 42%;
}
@media screen and (max-width: 599px){
    .header{
        font-size: 30px;
    }
    .header::before{
        left: 38%;
    }
    .header::after{
        left: 28%;
    }
}
@media screen and (min-width: 600px) and (max-width: 767px){
    .header{
        font-size: 30px;
    }
    .header::before{
        left: 42%;
    }
    .header::after{
        left: 35%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header::before{
        width: 100px;
        height: 1px;
        top: 150%;
        left: 43%;
    }
    .header::after{
        width: 250px;
        top: 163%;
        left: 35%;
    }
}
/* End Header Style */
.our-services-cont{
    padding: 50px 0px 30px;
    margin-top: 50px;
}
.single-services{
    width: 25%;
    float: left;
    text-align: center;
    padding: 20px;
}
.single-services:hover{
    background-color: #fff;
}

@media screen and (max-width: 767px){
    .our-services-cont{
        padding: 50px 0px 0px;
        margin-top: 50px;
    }
    .single-services{
        width: 100%;
        padding: 15px;
        margin-bottom: 50px;
    }
}
@media screen and (min-width: 768px)  and (max-width: 991px) {
    .our-services-cont{
        padding: 50px 20px 0px;
    }
    .single-services{
        width: 50%;
        padding: 0px 15px;
        margin-bottom: 50px;
    }
}
.single-services-cont i{
    color: #ff305b;
    font-size: 30px;
    transition: transform 0.3s;
}
.single-services:hover i{
    transform: scale(1.2);
}
.single-services-cont h3{
    color: #333;
    margin: 25px 0px;
}
.single-services-cont p{
    color: #555;
    line-height: 1.6;
}
/* End Our Services */

/* Start Our-Portfolio */
.our-portfolio{
    padding: 70px 0px;
    text-align: center;
}
.our-portfolio .porf-menu{
    margin-bottom: 20px;
}
.porf-menu button{
    background-color: transparent;
    border: none;
    color: #333;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .porf-menu button{
        padding: 20px 8px 0px 0px;
        padding-right: 8px;
        font-size: 14px;
        font-weight: normal;
    }
}
.porf-menu button.active{
    color: #ff305b;
}
.portfolio .portfolio-photo{
    width: 33.3333%;
    padding: 15px;
    float: left;
    position: relative;
    cursor: pointer;
}
.portfolio-photo::after{
    content: '';
    width: 100% ;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s;
}
.portfolio-photo .icon i{
    font-size: 18px;
    color: #ff305b;
    position: absolute;
    bottom: 30px;
    right: 30px;
    opacity: 0;
}

.portfolio-photo:hover:after{
    opacity: 1;
}
.portfolio-photo:hover .icon i{
    opacity: 1;
    z-index: 33;
}
@media screen and (max-width: 767px) {
    .portfolio .portfolio-photo{
        width: 100%;
        padding: 0;
        padding-top: 25px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio .portfolio-photo{
        width: 50%;
    }
}
.portfolio-photo img{
    width: 100%;
}
/* End Our-Portfolio */

/* Start Counter */
.counter{
    background-color: #f1f1f1;
    padding: 50px; 
}
.single-counter{
    width: 25%;
    float: left;
    text-align: center;
    padding: 50px;
}
.single-counter-cont i{
    color: #ff305b;
    font-size: 30px;
}
.single-counter-cont h3{
    color: #333;
    margin: 20px 0px;
    font-size: 25px;
    font-weight: bold;
}
.single-counter-cont h4{
    color: #555;
    font-size: 14px;
}
@media screen and (max-width: 767px) {
    .counter{  
        padding: 40px ; 
    }
    .single-counter{
        width: 100%;
        padding: 0;
        padding-top: 40px;
    }
    .single-counter-cont i{
        font-size: 25px;
    }
    .single-counter-cont h3{
        margin: 10px 0px;
    }
}
@media screen and (min-width: 768px) {
    .counter{  
        padding: 40px 15px ; 
    }
    .single-counter{
        padding: 30px 10px;
    }
}
/* End Counter */

/* Start tetsimonial */
.testimonial{
    padding: 70px 0px;
}
.tetimonial-items{
    background-color: #f1f1f1;
    padding: 60px;
    width: 75%;
    margin: 60px auto 0px auto;
    position: relative;
    overflow: hidden;
}
.tetimonial-items::before {
    content: '';
    background-color: #ff305b;
    width: 22%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
}
.tetimonial-items::after {
    content: '';
    background-color: #f1f1f1;
    width: 20%;
    height: 105%;
    position: absolute;
    top: -14px;
    left: 79px;
    transform: rotate(40deg);
}
.testimonial-img {
    width: 15%;
    float: left;
    padding-top: 10px;
    position: relative;
    left: -14px;
    z-index: 9999999;
}
.testimonial-img img{
    width: 100%;
    border-radius: 50%;
}
.testimonial-cont{
    width: 85%;
    float: left;
    padding-left:20px;
    position: relative;
    z-index: 3333;
}
.testimonial-cont h3{
    color: #333;
    font-size: 23px;
}
.testimonial-cont h4{
    color: #999;
    font-size: 14px;
    margin: 10px 0px;
}
.testimonial-cont p{
    color: #555;
    line-height: 1.6;
    font-style: italic;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}
.testimonial-cont .review-reating i{
    color: #f1c30d;
}
.oval-shape{
    margin: 10px auto;
    width: 8%;
}
.oval-shape .oval-active{
    width: 25px;
    height: 9px;
    background-color: #ff305b;
    margin-right: 10px;
    border-radius: 10px;
    float: left;
    cursor: pointer;
}
.oval-shape .oval{
    width: 10px;
    height: 10px;
    border: 1px solid #ff305b;
    border-radius: 50%;
    float: left;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .tetimonial-items{
        padding: 10px 0px 30px;
        width: 100%;
    }
    .tetimonial-items::before {
        width: 208px;
        height: 215px;
    }
    .tetimonial-items::after {
        width: 315px;
        height: 350px;
        top: 37px;
        left: 66px;
        transform: rotate(44deg);
    }
    .testimonial-img {
        width: 20%;
        float: none;
        left: 150px;
        padding: 20px 0px 35px;
    }
    .testimonial-cont{
        width: 100%;
        padding-left:20px;
    }
    .oval-shape{
        margin: 10px auto;
        width: 20%;
    }
}
@media screen and (min-width: 768px)  {
    .tetimonial-items{
        padding: 60px 20px ;
        width: 90%;
    }
    .tetimonial-items::before {
        width: 208px;
        height: 215px;
    }
    .tetimonial-items::after {
        width: 315px;
        height: 350px;
        top: 37px;
        left: 66px;
        transform: rotate(44deg);
    }
    .testimonial-img {
        left: 25px;
    }
    .testimonial-cont{
        padding-left:50px;
    } 
}
/* End tetsimonial */

/* Start Our-Blog */
.our-blog{
    background-color: #f1f1f1;
    padding: 60px 0px;
}
.posts{ 
    margin-top: 60px;
}
.single-post{
    width: 33.3333%;
    float: left;
    padding: 0px 15px;
} 
@media screen and (max-width: 767px) {
    .single-post{
        width: 100%;
        padding: 15px 0px;
    }
}
.single-post .post-img{
    background-color: tomato;
    text-align: center;
    cursor: pointer;
}
.post-img img {
    width: 100%;
}
.post-img iframe{
    width: 100%;
}
.single-post .post-content{
    padding: 20px;
    background-color: #fff;
}
.post-content h4{
    color: #555;
    margin-bottom: 15px;
    font-size: 16px;
}
.post-content h3{
    color: #333;
    margin-bottom: 20px;
}
.post-content h3:hover{
    color: #ff305b
}

.post-content p{
    color: #555;
    margin-bottom: 10px;
    line-height: 1.6;
    letter-spacing: 00.5px;
}
.post-content button{
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #333;
}
/* End Our-Blog */

/* Start Conact */
.contact-us{
    padding: 60px 30px;
}
form{
    width: 70%;
    margin: 50px auto;
    
}
form input, form textarea{
    width: 100%;
    padding: 10px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 12px 0px;
    font-size: 14px;
}

form .name{
    width: 50%;
    float: left;
    padding-right: 30px;
}
form .email{
    width: 50%;
    float: left;
    
}
@media screen and (max-width: 767px) {
    .contact-us{
        padding: 60px 0px 20px;
    }
    form{
        width: 100%;        
    }
    form .name, form .email{
        width: 100%;
        padding-right: 0px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .contact-us{
        padding: 60px 0px 20px;
    }
    form{
        width: 100%;        
    }
}

form button{
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #ff305b;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: not-allowed;
}
/* End Conact */

/* Start Footer */
.footer{
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}
.footer ul{
    list-style-type: none;
    width: 15%;
    margin: 0px auto;
    text-align: center;
}
@media screen and (max-width: 767px){
    .footer ul{
        width: 40%;

    }
}
.footer ul li{
    width: 25%;
    float: left;
    padding: 10px 0px 15px;
    
}
.footer ul li i{
    font-size: 16px;
}
.footer ul li i:hover{
    color: #ff305b;
}
.footer p{
    line-height: 1.6;
}
.footer p a{
    text-decoration: none;
    color: #ff305b;
}
.footer p a:hover{
    text-decoration: underline;
}

/* End Footer */