
     
     *{
         text-decoration: none !important;
     }

    body{
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          background-color: #f5f5f5;
      } 
      

      .hover-under{
          position: relative;
      }

       a.active::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 80%;
        height: 3px;
        background-color: #0078ff;
        transition: width 1s;
    }

      .hover-under::after{
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 0;
          height: 3px;
          background-color: #0078ff;
          transition: width 1s;
      }

      .hover-under:hover::after{
          width: 80%;
      }










      .titel-h2{
          font-size: 50px ;
      }

      /* start style Header */
.bg-img-home{
    background-image:url(../image/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.home-liar{
    background-color: rgba(0, 0, 0, 0.671) ;
    }

       /* end style Header */
/* 
main{
    background-color: #f5f5f5;
} */


.w-85{
    width: 85%;
}
.w-90{
    width: 90%;
}

.h2-color-about{
    color: #e6dfdf;
    position: relative;
    display: inline-block;
}

.about-shado{
    box-shadow:5px 10px 50px #bbb4b4 ;
    

}

.und-line::after{
    content: "";
    position: absolute;
    top:120%;
    left: 0px;
    width: 60%;
    background-color: rgb(18, 18, 231);
    height: 3px;

}

    /* end style Header */
    /*  start section 2*/

.color-ti{
    color: #e6dfdf;
}
    .w-100px{
        width: 100px;
        height: 100px;
        border: 8px solid rgb(0, 120, 255);
        border-radius: 50% ; 
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.6s ease-in-out;
    }

    .item-dad:hover .w-100px{
        background-color: rgb(0, 120, 255);
        border:8px solid rgb(205, 225, 248) ;
        color: #fff;
    }

    .rounded{
        border-radius:20px !important;
    }

    .font-icon{
        font-size: 26px;
        
    }

    /* start section 4 */

   .bg-cont{
       background-image: url(../image/counters-bg.jpg);
       background-size: cover;
       background-position: center center;
       background-attachment: fixed;
      
   }

   .bg-lyar4{
       background-color: #0077ffbb;
       padding: 50px 0px;    
    }

   .bord{
       border:rgb(205, 225, 248) solid 8px ;
   }

   .w-80px{
       width: 80px;
       height: 80px;
   }

   .bord i{
       color: #fff;
       
   }

   /* this is style work */


.w-plus{
    width: 40px;
    height: 40px;
    border: 2px solid #0077ffbb ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 15px 20px 0;
}   

.tit{
    color: #e6dfdf;
    font-size: 20px;
}

.w-plus i{
    color: #0077ffbb;
    font-size: 22px;
}

   p{
       display: d;
       justify-content: space-between;
   }

   /*  */
   /*  n*/

   .bg-cont-2{
       background-image: url(../image/overlay-bg.jpg);
       background-size: cover;
       background-position: center center;
       background-attachment: fixed;
      
   }

     /*  */
   /*  blog */

   .foot-card{
       background-color: #f7f7f7;
   }

   .w-30px{
       width: 25px;
       height: 25px;
       border-radius: 50%;
   }
   
   .aft-card{
       position: relative;
   }

   .aft-card::after{
       content: "Travel";
       padding: 3px 10px ;
       background-color: #0078ff;
       border-radius: 10px;
       position: absolute;
       top: 100%;
       left: 50%;
       transform: translate(-50%, -50%);
   }

   .aft-card-2{
       position: relative;
   }

   .aft-card-2::after{
    content: "Web design";
    padding: 3px 10px ;
    background-color: #0078ff;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* form */

.bg-form{
    background-image: url(../image/overlay-bg.jpg);
    background-position: center center ;
    background-size: cover;
    background-attachment: fixed;
}

.cover-form{
    background-color: #0077ff80;
    height:100%;
    padding: 60px 0px;
    
    
}

.bg-fotter{
    background-color: #0078ff;
}




